@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-slate-900 text-slate-50;
}

.light {
  @apply bg-slate-100 text-slate-700;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
